{% extends "base.html" %}
{% block content %}
    <style>
        body {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            background-color: #fdfdfd;
        }

        .head_text {
            color: white;
        }

        .card {
            box-shadow: 0 16px 48px #E3E7EB;
        }
    </style>



{% endblock %}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <img src="/media/images/about.jpg" width="500"height="240"><br>
            Сделано в качестве финальной работы по программированию Python.
        </div>
    </div>
</div>
        